.container {
  max-width: 96rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.headerAuthorBlogProfile {
  width: 3rem;
  height: 3rem;
}

.backToHome {
  font-family: 'Cinzel', serif;
  margin: 3rem 0 0;
}

.colorNavbar {
  background-color: #eee8d5;
  /* https://www.sitepoint.com/community/t/can-you-help-me-with-my-navigation-bar/9619/6 */
  position: sticky;
  width: 100%;
  height: 3rem;
  overflow-x: visible;
  overflow-y: visible;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .titleNavbar{
    display:none;
  }
}
@media screen and (min-width: 641px) {
  .titleNavbar{
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .hamburgerNav{
    display:block;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 641px) {
  .hamburgerNav{
    display:none;
  }
}
